<div class="flex justify-center my-5 space-x-2">
  <% if (currentPage > 1) { %>
    <!-- Previous Page Link -->
    <a href="/?page=<%= currentPage - 1 %>"
       class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-900">
      &lt; 
    </a>
  <% } else { %>
    <!-- Disabled Previous Link if on first page -->
    <span class="px-4 py-2 bg-gray-300 text-gray-500 rounded-lg">
      &lt; 
    </span>
  <% } %>

  <span class="px-4 py-2 bg-white rounded-full">
    <%= currentPage %>
  </span>

  <% if (hasNextPage) { %>
    <!-- Next Page Link -->
    <a href="/?page=<%= currentPage + 1 %>"
       class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-900">
       &gt;
    </a>
  <% } else { %>
    <!-- Disabled Next Link if no more pages -->
    <span class="px-4 py-2 bg-gray-300 text-gray-500 rounded-lg">
       &gt;
    </span>
  <% } %>
</div>


<script>
  function prevChapter() {
    if (currentChapterIndex > 0) {
      currentChapterIndex--;
      displayChapters();
    }
  }
  
  // ✅ Navigate to Next Chapter
  function nextChapter() {
    if (currentChapterIndex < chapterIDs.length - 1) {
      currentChapterIndex++;
      displayChapters();
    }
  }
</script>