<!DOCTYPE html>
<html>
<head>
  <title>Chapter Viewer</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f3f4f6;
    }
    img {
      width: 100%;
      border-radius: 8px;
      display: block;
    }
  </style>
</head>
<body>
  <!-- ✅ Pagination for Previous/Next Chapters -->
  <%- include("readPagination.ejs") %>

  <div class="bg-black">
    <% images.forEach((imgUrl) => { %>
      <img src="<%= imgUrl %>" alt="Chapter Page" class="w-screen"/>
    <% }) %>
  </div>


  
  <%- include("readPagination.ejs") %>

  <a href="/" class="mt-5 inline-block text-blue-500 text-md">Home</a>

</body>
</html>